<hr xmlns="http://www.w3.org/1999/html">
<div class="form-control">
  <h1>Post Form</h1>

  <label>Input the Title: </label>
  <input type="text" placeholder="Input Title" [(ngModel)]="postTitle"><br>
  <textarea placeholder="Details Input" rows="10" cols="45" [(ngModel)]="postDetails"></textarea><br><br><br><br>
  <input type="text" placeholder="Image Url" [(ngModel)]="postImageUrl"><br>
  <input type="text" placeholder="hyperlink" [(ngModel)]="postUrl"><br>
  <label>Color the Title: </label>
  <input type="checkbox" placeholder="hyperlink" [(ngModel)]="postTitleBgColor"> Add Background

</div>
<hr>

<div class="">
  <h1 [class.add-title-background]="postTitleBgColor">{{postTitle}}</h1>
  <p>{{postDetails}}</p>
  <img src="{{postImageUrl}}" class="img-container">
  <a [href]="postUrl" target="_blank" [style.display]="postUrl ? 'block' : 'none'">Image Web Site</a>

</div>
