<h3>App Component</h3>
<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (fromChildEvent)='receiveMessage($event)'></app-post>

<h5>{{messageFromChildPostCom}}</h5>

<p>{{childMessage}}</p>

<h1 [class.text-col]="change_col">Class Binding: color change</h1>
<h1 [style.color]="change_col ? 'green':'blue'">Class Binding: color change</h1>
<img [src]='imgUrl' alt="">
<!--<img [src]='imgUrl2' alt="">-->
<hr>
<button (click)="buttonClicked()">Click Me</button>
<input (keyup)="onkeyUpEventTest()">
<input (keyup)="onkeyUpEvent($event)">
<input (keyup.enter)="onkeyUpEventEnter()">
<br>
<br>
<br>
<br>


