
<button class="btn btn-primary" [disabled]="!allowButtonClick" (click)="onServerCreation()">
  ADD SERVER </button>

<input type="text" (input)="onServerUpdateName($event)" class="form-control" placeholder="Event Binding">
<p *ngIf="serverCreated; else noServer">Server is created server name is {{serverName}}</p>
<p [ngStyle]="{backgroundColor: getBackgroundColor()}" [ngClass]="{online: serverStatus === 'online'}">Server is created server name is {{serverName}}</p>

<ng-template #noServer>
  <p>Server was not created!!</p>
</ng-template>
<input type="text" [(ngModel)]="serverName" class="form-control" placeholder="Two Way Binding">

<!--<p>{{serverCreationStatus}}</p>-->
<!--<div>-->
<!--  <p>{{'Server'}} {{serverId}} is in {{serverStatus}} {{getCurrentDate()}}</p>-->
<!--</div>-->
